/*
 * Base
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #495760;
}
p {
  font-family: 'Lato', sans-serif;
}

a,
a:focus,
a:hover {
  color: #107fc9;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 270ms;
  -moz-transition: all 270ms;
  -ms-transition: all 270ms;
  -o-transition: all 270ms;
  transition: all 270ms;
}

a {
    text-decoration: none;
    position: relative;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 34px;
  color: #555;
  margin-top: 30px;
  margin-bottom: 25px;
}

.description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #9a9a9a;
  line-height: 36px;
  padding:5px 80px 5px 0;
}

.section-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  text-transform: uppercase;
  color: #cbcccc;
}

.section-subheading {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #cbcccc;
  margin-top: 0;
  letter-spacing: 1px;
}

.div-lg {
  padding: 60px;
}

.div-sm {
  padding: 30px;
}

::selection {
  background: #107fc9;
  color: #fff;
}

::-moz-selection {
  background: #107fc9;
  color: #fff;
}


/*
 * Loading
 */

.pace .pace-progress {
  background: #ffffff;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 3px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}


/*
 * Buttons
 */

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none;
}

.btn-solid,
.btn-solid:hover,
.btn-solid:active,
.btn-solid:focus {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 25px 60px;
  color: #107fc9;
  background: #fff;
  border: 2px solid #fff;
  border-bottom: 4px solid #DADADA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  position: relative;
  -webkit-transition: all 270ms;
  -moz-transition: all 270ms;
  -ms-transition: all 270ms;
  -o-transition: all 270ms;
  transition: all 270ms;
}
.btn-solid:hover {
  border-bottom: 4px solid #fff;
  color: #0F67A2;
}

.btn-white,
.btn-white:hover,
.btn-white:active {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 25px 60px;
  color: white;
  background: none;
  border: 2px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  position: relative;
  -webkit-transition: all 270ms;
  -moz-transition: all 270ms;
  -ms-transition: all 270ms;
  -o-transition: all 270ms;
  transition: all 270ms;
}

.btn-white:hover {
  background: #fff;
  color: #107fc9;
}

.btn-white:focus {
  color: #fff;
}

.btn-white:hover.btn-white:focus{
  color: #107fc9;
}

.btn-blue,
.btn-blue:hover,
.btn-blue:active {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 25px 35px;
  color: #107fc9;
  background: none;
  border: 3px solid #107fc9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  position: relative;
  -webkit-transition: all 270ms;
  -moz-transition: all 270ms;
  -ms-transition: all 270ms;
  -o-transition: all 270ms;
  transition: all 270ms;
}

.btn-blue:hover {
  background: #107fc9;
  color: #fff;
}

.btn-c2a {
  margin: 10px 5px 0;
}

/*
 * Navigation
 */

.navbar {
  margin: 20px 0 70px;
}

.navbar-menu {
  text-align: right;
}

.navbar-link {
  color: #CAC8E7;
  display: inline-block;
  text-transform: uppercase;
  padding: 20px 5px;
  margin: 0 20px;
  vertical-align: top;
  font-size: 14px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.navbar-link:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}

/*
 * Cover
 */

.cover-wrapper {
  display: table;
  width: 100%;
  background: #107fc9;
  background-image: url("../img/bg-header.jpg");
  background-size: cover;
  background-position: center top;
  text-align:left;
}
.cover-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  padding-bottom: 100px;
}
.cover-container {
  margin: 50px auto 0;
}
.cover {
  padding: 0 20px;
}
.cover-logo {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  padding: 4px;
}
.cover-logo:hover, .cover-logo:focus, .cover-logo:active {
  color: #fff;
}
.cover-logo-icon {
  width: 54px;
  height: 59px;
  margin-right: 10px;
  margin-top: -4px;
}
.cover-heading {
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  margin: 20px 0;
  line-height: 64px;
  letter-spacing: -0.5px;
}
.cover-description{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.cover-features {
  margin-top: 5px;
}

.cover-feature {
  color: #fff;
  padding: 20px 0 20px 40px;
}

.cover-feature-heading {
  text-transform: uppercase;
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 0;
}

.cover-feature-subheading {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 28px;
  font-size: 20px;
  margin-top: 5px;
}

.email {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-left: 20px;
  color: #fff !important;
  height: 72px;
  background: #107fc9;
  background: rgba(16, 127, 201, 0.70);
  border: 2px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.email:hover {
  background: #107fc9;
  background: rgba(16, 127, 201, 0.80);
}
.email:active, .email:focus {
  background: #107fc9;
  background: rgba(16, 127, 201, 0.90);
}
.email:focus {
  border-color: #107fc9;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.email::-webkit-input-placeholder {
   color: #fff;
}
.email:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}
.email::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}
.email:-ms-input-placeholder {  
   color: #fff;  
}
.promise {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #f9f9f9;
  display: block;
  margin: 15px 0;
}

.input-group {
  width: 94%;
}

.btn-signup {
  background: #fff;
  color: #107fc9;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 23px 0;
  width: 100%;
  border: 2px solid #fff;
  margin-left: 0 !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-signup:hover {
  color: #3498DB;
}

.cf-icon {
  width: 48px;
  height: 48px;
  margin-right: 20px;
  display: inline-block;
}
.cf-icon-0 {
  background: url('../img/cover-feature-0.png') no-repeat;
  background-size: 48px 48px;
}
.cf-icon-1 {
  background: url('../img/cover-feature-1.png') no-repeat;
  background-size: 48px 48px;
}
.cf-icon-2 {
  background: url('../img/cover-feature-2.png') no-repeat;
  background-size: 48px 48px;
}
.cf-icon-3 {
  background: url('../img/cover-feature-3.png') no-repeat;
  background-size: 48px 48px;
}

.cf-text {
  display: inline-block;
}

.users-earn-money {
  color: #fff;
  border-bottom: 2px dashed #fff;
}
.users-earn-money:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}


/*
 * Apps
 */

.apps-section {
  padding: 80px 20px 120px;
  background: #f2f2f2;
  text-align: left;
}

.apps-metadisk {
  background: url('../img/preview-metadisk.png');
  background-size: 461px 290px;
  background-repeat: no-repeat;
  height: 290px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.apps-driveminer {
  background: url('../img/preview-driveminer.png');
  background-size: 484px 540px;
  background-repeat: no-repeat;
  height: 540px;
  margin-top: 40px;
}

.apps-section .btn {
  margin-top: 20px;
}

/*
 * Press
*/

.press-section {
  padding: 76px 0;
  border-top: 1px solid #f6f6f6;
  text-align: center;
}
.press-icons {
  background: url('../img/press-icons.jpg') no-repeat top left;
  display: inline-block;
  cursor: pointer;
  margin: 20px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
} 

.press-bitscan {
  background-position: 0 0; width: 168px; height: 50px;
} 
.press-bitscan:hover {
  background-position: 0 -55px; width: 168px; height: 50px;
} 

.press-backupreview {
  background-position: 0 -440px; width: 222px; height: 50px;
} 
.press-backupreview:hover {
    background-position: 0 -495px; width: 222px; height: 50px;
} 

.press-cleverest {
  background-position: 0 -220px; width: 215px; height: 50px;
} 
.press-cleverest:hover {
  background-position: 0 -275px; width: 215px; height: 50px;
} 

.press-infoworld {
    background-position: 0 -330px; width: 162px; height: 50px;
} 
.press-infoworld:hover {
    background-position: 0 -385px; width: 162px; height: 50px;
} 

.press-ccnews {
  background-position: 0 -110px; width: 190px; height: 50px;
} 
.press-ccnews:hover {
  background-position: 0 -165px; width: 190px; height: 50px;
} 


/*
 * Contact
 */

.contact {
  padding: 100px 20px;
  background: #f2f2f2;
}

.contact .section-heading {
  letter-spacing: -4px;
}

.contact .promise {
  color: #999;
}

.contact form {
  margin-top: 35px;
}

.contact .btn-signup {
  color: #fff;
  background: #107fc9;
  border: 0;
  padding: 25px 0;
}

.contact .btn-signup:hover {
  background: #3498DB;
}

.contact .email {
  color: #333 !important;
  background: #e1e1e1;
  border: 0;
  box-shadow: none;
}
.contact .email:hover {
  background: #e5e5e5;
}
.contact .email:active, .contact .email:focus {
  background: #e9e9e9;
}

.contact .email:focus {
border-color: #107fc9;
}
.contact .email::-webkit-input-placeholder {
   color: #999;
}
.contact .email:-moz-placeholder { /* Firefox 18- */
   color: #999;  
}
.contact .email::-moz-placeholder {  /* Firefox 19+ */
   color: #999;  
}
.contact .email:-ms-input-placeholder {  
   color: #999;  
}

.contact-questions .description a {
  border-bottom: 1px dashed;
  padding-bottom: 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.contact-questions .description a:hover {
  border-bottom: 1px solid;
}

.social-links {
  margin-top: 20px;
}

.social {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  opacity: 0.5;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.social:hover {
  opacity: 1;
}

.social-twitter {
  background-image: url('../img/social-twitter.png');
  background-size: 40px 40px;
}
.social-reddit {
  background-image: url('../img/social-reddit.png');
  background-size: 40px 40px;
}
.social-facebook {
  background-image: url('../img/social-facebook.png');
  background-size: 40px 40px;
}
.social-gplus {
  background-image: url('../img/social-gplus.png');
  background-size: 40px 40px;
}
.social-skype {
  background-image: url('../img/social-skype.png');
  background-size: 40px 40px;
}


/*
 * Footer
*/

.footer {
  padding: 80px 20px;
}

.footer-menu {
  text-align: right;
}

.footer-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #cccccc;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 20px 25px;
}

.footer-logo {
  font-size: 14px;
  text-transform: uppercase;
  color: #cbcccc;
  margin-top: 8px;
  display: block;
}

.footer-logo:hover {
  color: #999;
}

.footer-logo-icon {
  width: 42px;
  height: 47px;
  margin-right: 10px;
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.footer-logo:hover .footer-logo-icon {
  opacity: 1;
}


/*
 * Retina
*/

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio: 2) {
  .cover-wrapper {
    background-image: url("../img/bg-header@2x.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  .apps-metadisk {
    background: url('../img/preview-metadisk@2x.png');
    background-size: 461px 290px;
    background-repeat: no-repeat;
  }
  .apps-driveminer {
    background: url('../img/preview-driveminer@2x.png');
    background-size: 484px 540px;
    background-repeat: no-repeat;
  }
  .press-icons {
    background: url('../img/press-icons@2x.jpg') no-repeat top left;
    background-size: 221px 545px; 
  } 
  .press-bitscan {
    background-position: 0 0; width: 168px; height: 50px;
  } 
  .press-bitscan:hover {
    background-position: 0 -55px; width: 168px; height: 50px;
  } 

  .press-backupreview {
    background-position: 0 -440px; width: 222px; height: 50px;
  } 
  .press-backupreview:hover {
      background-position: 0 -495px; width: 222px; height: 50px;
  } 

  .press-cleverest {
    background-position: 0 -220px; width: 215px; height: 50px;
  } 
  .press-cleverest:hover {
    background-position: 0 -275px; width: 215px; height: 50px;
  } 

  .press-infoworld {
      background-position: 0 -330px; width: 162px; height: 50px;
  } 
  .press-infoworld:hover {
      background-position: 0 -385px; width: 162px; height: 50px;
  } 

  .press-ccnews {
    background-position: 0 -110px; width: 190px; height: 50px;
  } 
  .press-ccnews:hover {
    background-position: 0 -165px; width: 190px; height: 50px;
  }   
}

/*
 * Responsiveness
*/

@media only screen and (min-width: 990px) and (max-width: 1200px) {
  .cover-heading {
    font-size: 52px;
  }
  .cover-subheading {
    font-size: 26px;
  }
  .cover-feature-heading {
    font-size: 16px;
  }
  .cover-feature-subheading {
    font-size: 16px;
  }
  .cover-description {
    font-size: 18px;
    font-weight: 400;
  }
  .cover-feature {
    padding: 26px 0 20px;
  }
  .description {
    padding:5px 20px 5px 0;
  }
}

@media only screen and (max-width: 989px) {
  .cover-features {
    margin-top: 30px;
  }
  .cover-feature {
  padding: 10px 0 10px 10px;
  }
  .navbar {
    margin: 0;
    margin-bottom: 20px;
  }
  .cover-wrapper-inner {
    padding-bottom: 50px;
  }
  .btn-signup {
    padding: 23px 30px;
  }
  .contact .btn-signup {
    padding: 25px 30px;
  }
  .apps-metadisk {
    margin-top: 40px;
    margin-bottom: 0;
  }
  .apps-driveminer {
    margin-top: 40px;
  }  
  .contact-newsletter {
    margin-top: 70px;
  }
  .footer-link {
    padding: 20px 15px;
  }
  .navbar-link {
    padding: 20px 5px;
    margin: 0 10px;
    font-size: 12px;
  }

}

@media only screen and (min-width: 560px) and (max-width: 990px) {
  .input-group {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .cover-heading {
    font-size: 52px;
    line-height: 52px;
  }
  .cover-description {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .cover-subheading {
    font-size: 26px;
    line-height: 34px;
  }
  .cover-feature-heading {
    font-size: 16px;
  }
  .cover-feature-subheading {
    font-size: 16px;
  }
  .cover-feature {
    padding: 5px 0 0;
  }
  .input-group {
    width: 90%;
  }
  .footer-menu {
    text-align: left;
    margin-top: 30px;
  }

}

@media only screen and (max-width: 480px) {
  .cover-heading {
    font-size: 42px;
    margin-bottom: 0;
    line-height: 42px;
  }
  .cover-subheading {
    font-size: 21px;
    line-height: 26px;
  }
  .cover-feature-heading {
    font-size: 14px;
  }
  .cover-feature-subheading {
    font-size: 12px;
  }
  .cover-feature {
    padding: 5px 0 5px;
  }
  .email {
    font-size: 12px;
  }
}