/*
 * Import Fonts
 */
 
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400);


/*
 * Base
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #495760;
}
p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #636a7a;
  line-height: 26px;
  letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6, p, span, blockquote, footer {
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -ms-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern' 1;
  text-rendering: optimizelegibility;
  font-kerning: normal;
}
a,
a:focus,
a:hover {
  color: #107fc9;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 270ms;
  -moz-transition: all 270ms;
  -ms-transition: all 270ms;
  -o-transition: all 270ms;
  transition: all 270ms;
}
a {
    text-decoration: none;
    position: relative;
}
a:hover {
  color: #005d8c;
}

.link {
  border-bottom: 1px dashed;
  padding-bottom: 2px;
}
.link:hover {
  border-bottom: 1px solid;
}
.blue .link {
  color: #ffdd00;
}
.blue .link:hover {
  color: #fff;
}
.section {
  padding: 80px 0 100px;
}
.grey {
  background: #f7f7f7;
}
.blue {
  background: #003366;
}
.blue p {
  color: #fff;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: -3px;
  color: #107fc9;
  margin-top: 20px;
  margin-bottom: 35px;
  position: relative;
  left: -2px;
}

.blue .title {
  color: #fff;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-size: 24px;
  color: #cacaca;
  line-height: 28px;
}

.section-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  color: #677380;
  line-height: 38px;
  margin-bottom: 40px;
}
.section-subheading {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #777;
  margin-top: 0;
}
.blue .section-subheading,
.blue .section-heading {
  color: #A5B9CB;
}

.div-lg {
  padding: 60px;
}

.div-sm {
  padding: 30px;
}

.separator {
  border-bottom: 1px dashed #ccc;
  margin: 25px auto;
}
.blue .separator {
  border-bottom: 1px dashed #107fc9;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.21)
}

.pr {
  max-width: 400px;
  text-align: justify;
}

::selection {
  background: #107fc9;
  color: #fff;
}

::-moz-selection {
  background: #107fc9;
  color: #fff;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .4s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
img.grayscale:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

/*
 * Loading
 */

.pace .pace-progress {
  background: #ffffff;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 3px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}


/*
 * Buttons
 */

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none;
}

.btn,
.btn:hover,
.btn:active,
.btn:focus {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 25px 40px;
  border-width: 2px;
  border-radius: 3px;
  outline: none;
  position: relative;
  -webkit-transition: all 270ms;
  -moz-transition: all 270ms;
  -ms-transition: all 270ms;
  -o-transition: all 270ms;
  transition: all 270ms;
}

.btn-blue,
.btn-blue:hover,
.btn-blue:active {
  color: #107fc9;
  border-color: #107fc9;
}

.btn-blue:visited {
  color: #107fc9;
}

.btn-blue:hover {
  background: #107fc9;
  color: #fff;
}

.btn-yellow,
.btn-yellow:hover,
.btn-yellow:active {
  color: #ffdd00;
  border-color: #ffdd00;
}

.btn-yellow:visited {
  color: #ffdd00;
}

.btn-yellow:hover {
  background: #ffdd00;
  color: #003366;
}


.btn-c2a {
  margin: 10px 5px 0;
}

/*
 * Navigation
 */

.navbar {
    margin: 0 0 30px;
}
.navbar-menu {
  text-align: right;
}

.navbar-link {
  color: #E4F1FF;
  display: inline-block;
  text-transform: uppercase;
  padding: 20px 5px;
  margin: 0 20px;
  vertical-align: top;
  font-size: 14px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.navbar-link:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}

.early-access-link {
  color: #ffdd00;
}
.early-access-link:hover {
  color: #FFCB00;
  border-bottom-color: #ffcb00;
}

.navbar-page {
  border-bottom: 1px solid #f1f1f1;
  position: static;
  width: 100%;
  background: #fff;
  background: rgba(255, 255, 255, 0.96);
  z-index: 9;
}
.navbar-page .navbar {
  margin: 20px 0;
}
.navbar-page .navbar-link {
  color: #3498DB;
}
.navbar-page .navbar-link:hover {
  color: #107fc9;
  border-bottom: 2px solid #107fc9;
}
.navbar-page .cover-logo {
  color: #107fc9;
}
.navbar-page .cover-logo:hover {
  color: #107fc9;
  font-weight: 700;
}


/*
 * Crowdsale
 */

 .crowdsale-info {
  padding: 30px 0 20px;
  background: url('../img/bg-white.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
 }

 .crowdsale-info p {
  margin-top: 10px;
 }

.crowdsale-address { 
  font-size: 22px;
  color: #107fc9;
  font-weight: 700;
}

.crowdsale-address-terms {
  font-size: 14px;
}

#crowdsale {
  background: url('../img/bg-white.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#crowdsale .cover-logo {
  color: #999;
  font-size: 18px;
}
#crowdsale .cover-logo:hover {
  color: #555;
  font-size: 18px;
  font-weight: 700;
}

#crowdsale .cover-logo-icon {
  display: block;
  margin: 0 auto 10px;
  opacity: 0.6;
  -webkit-transition: all 270ms;
  -moz-transition: all 270ms;
  -ms-transition: all 270ms;
  -o-transition: all 270ms;
  transition: all 270ms;
}
#crowdsale .cover-logo:hover .cover-logo-icon {
  opacity: 1;
}

#crowdsale .navbar-menu {
  text-align: center;
  margin-top: 10px;
  left: -17px;
}

#crowdsale .navbar-link {
  color: #999;
}
#crowdsale .navbar-link:hover {
  color: #107fc9;
  border-bottom: 2px solid #107fc9;
}

#crowdsale span {
  font-family: 'Muli', sans-serif;
}

.crowdsale-disclaimer {
  color: #888;
  font-size: 14px;
  line-height: 26px;
  margin-top: 20px;
}

.countdown-time {
  margin: 10px 0 20px;
  display: inline-block;
}

.cover-heading.stats-total {
  display:inline-block;
  margin-bottom: 0;
  color: #88c425;
}
.stats-total-btc {
  display:inline-block;
  color: #88c425;
  font-size: 32px;
}
.cover-description.stats-goal {
  margin-top: 0;
  margin-bottom: 25px;
  color: #999;
  padding-right: 0;
}

.progress {
  height: 30px;
  width: 74%;
  margin: 0 auto;0
}
     
.progress-bar-success {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #88c425;
  line-height: 28px;
  min-width: 25px;
}

.stats-description {
  text-transform: uppercase;
  color: #C7C7C7;
  display: block;
  margin: 22px 0;
  font-size: 14px;
}

.stats-transactions {
  padding-left: 30px;
}

.stats-list {
  list-style: none;
  color: #777;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  padding-left:0;
}

.stats-list li {
  border-bottom: 1px dashed #E0E0E0;
  line-height: 42px;
}

.stats-amount {
  color: #555;
  font-size: 16px;
  letter-spacing: 1px;
}

.stats-time {
  float: right;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
}

.stats-amount-btc {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  padding-left: 2px;
  color: #888;
}

.stats-days {
  font-size: 14px;
  color: #999;
}

.stats-title {
  font-size: 21px;
  color: #777;
  border-bottom: 1px dashed #E0E0E0;
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 12px;
}

.stats-c2a {
  background: white;
  border-radius: 4px;
  padding: 10px 10px 20px;
  border: 1px solid #E2E2E2;
}

.thumbs {
  border: 1px solid #cecece;
  border-radius: 2px;
  width: 290px;
  height: 181px;
}

.step-1 {
  background: url('../img/crowdsale-step1.jpg') no-repeat;
  background-size: 290px 181px;
}

.step-2 {
  background: url('../img/crowdsale-step2.jpg') no-repeat;
  background-size: 290px 181px;
}

.step-3 {
  background: url('../img/crowdsale-step3.jpg') no-repeat;
  background-size: 290px 181px;
}

.reward-1 {
  background: url('../img/crowdsale-reward1.jpg') no-repeat;
  background-size: 290px 181px;
}

.reward-2 {
  background: url('../img/crowdsale-reward2.jpg') no-repeat;
  background-size: 290px 181px;
}

.reward-3 {
  background: url('../img/crowdsale-reward3.jpg') no-repeat;
  background-size: 290px 181px;
}

.rate-1 {
  background: url('../img/crowdsale-rate1.jpg') no-repeat;
  background-size: 290px 181px;
}

.rate-2 {
  background: url('../img/crowdsale-rate2.jpg') no-repeat;
  background-size: 290px 181px;
}

.rate-3 {
  background: url('../img/crowdsale-rate3.jpg') no-repeat;
  background-size: 290px 181px;
}

.phase-sjcx {
  display: block;
  font-family: 'Muli', sans-serif;
  margin-bottom: 20px;
}

/*
 * Cover
 */

.cover-wrapper {
  display: table;
  width: 100%;
  background: #003366;
  text-align:left;
}
.cover-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  padding-bottom: 100px;
}
.cover-container {
  margin: 50px auto 0;
}
.cover {
  padding: 0 20px;
}
.cover-logo {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  padding: 4px 4px 4px 0;
}
.cover-logo:hover, .cover-logo:focus, .cover-logo:active {
  color: #fff;
  font-weight: 700;
}
.cover-logo-icon {
  width: 54px;
  height: 59px;
  margin-right: 10px;
  margin-top: -4px;
}
.cover-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 71px;
  font-weight: 700;
  color: #fff;
  margin: 45px 0 25px;
  line-height: 62px;
  letter-spacing: -3px;
}
.cover-description{
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  color: #C8DDF4;
  font-size: 18px;
  max-width: 480px;
  line-height: 30px;
  margin-bottom: 40px;
}

h2.cover-description {}

.cover-image {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

.cloud {
  display: block;
  height: auto;
  width: 100%;
  max-width: 680px;
  margin: 30px auto;

}

.features {
  padding: 80px 0;
}

.cover-features {
   margin-top: 40px;
   padding: 40px;
}
.cover-feature {
  color: #9a9a9a;
  padding: 20px 0;
}

.cover-feature-heading {
  font-size: 16px;
  margin-top: 0;
  color: #f7f7f7;
  margin-bottom: 5px;
  text-transform: uppercase;
  line-height: 30px;
}
.cover-feature-subheading {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  color: #dedede;
  line-height: 24px;
  font-size: 16px;
  margin-top: 0px;
}
.blue .cover-feature-subheading {
  color: #A5B9CB;
}

.email {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #494949 !important;
  height: 70px;
  padding-left: 1.3em;
  background: #FFFFFF;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
}
.email:hover {
    border-radius: 4px;
}
.email:active, .email:focus {
}

input#mce-EMAIL {}
.email:focus {
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #fff;
}
.email::-webkit-input-placeholder {
   color: #999;
}
.email:-moz-placeholder { /* Firefox 18- */
   color: #999;  
}
.email::-moz-placeholder {  /* Firefox 19+ */
   color: #999;  
}
.email:-ms-input-placeholder {  
   color: #999;  
}
.promise {
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #7f99b2;
  display: block;
  margin: 15px 0;
}

.input-group {
  width: 86%;
}

.btn-signup {
  background: #ffdd00;
  color: #025D8C;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 24px 10px;
  height: 70px;
  width: 100%;
  border: 0;
  z-index: 2;
  border-left: 1px solid #EFB309;
  display: block;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-signup:hover {
  color: #003366;
  background: #FFCB00;
  border-radius: 3px;
}
.btn-signup:active {
  background: #EFB309;
}

.cf-icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  text-align: left;
  margin: 0 15px 0 10px;
  opacity: 0.5;
  top: 3px;
  position: relative;
}
.cf-icon-0 {
  background: url('../img/cover-feature-0.png') no-repeat;
  background-size: 48px 48px;
}
.cf-icon-1 {
  background: url('../img/cover-feature-1.png') no-repeat;
  background-size: 48px 48px;
}
.cf-icon-2 {
  background: url('../img/cover-feature-2.png') no-repeat;
  background-size: 48px 48px;
  position: relative;
  left: 3px;
}
.cf-icon-3 {
  background: url('../img/cover-feature-3.png') no-repeat;
  background-size: 48px 48px;
}

.cf-text {
  display: inline-block;
}

.users-earn-money {
  color: #f7f7f7;
  border-bottom: 1px dashed #107fc9;
}
.users-earn-money:hover {
  color: #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
}

.video-wrapper {
  background-image: url('../img/bg-white.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
}
.video {
  margin-top: 30px;
  padding: 0;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.23);
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*
 * Quotes
 */

.quotes {
  padding: 0;
  background: #012F5C; 
  height: auto;
  min-height: 290px;
}

.cbp-qtrotator {
  position: relative;
  height: auto;               
  transition: 1s all;
  overflow:hidden;
}

.cbp-qtrotator .cbp-qtcontent {
  position: absolute;
  min-height: 250px;
  padding: 4em 1em 3em;
  top: 0;
  z-index: 0;
  opacity: 0;
  width: auto;
  vertical-align: middle;
}

.no-js .cbp-qtrotator .cbp-qtcontent {
  border-bottom: none;
}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
  position: relative; 
  z-index: 100;
  pointer-events: auto;
  opacity: 1;
}

.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
  content: " ";
  display: table;
}

.cbp-qtrotator .cbp-qtcontent:after {
  clear: both;
}

.cbp-qtprogress {
  display: none;
}

.cbp-qtrotator blockquote {
  display: inline-block;
  max-width: 700px;
  vertical-align: top;
  border-left: 0;
}
.cbp-qtrotator blockquote p {
  color: #EAEAEA;
  font-size: 15px;
  quotes: "\201C""\201D""\2018""\2019";
}
.cbp-qtrotator blockquote p:before {
  content: open-quote;
}
.cbp-qtrotator blockquote p:after {
  content: close-quote;
}
.cbp-qtrotator footer {
  color: #fff;
  font-size: 1em;
  margin-top: 1em;
}
.cbp-qtrotator footer:before {
  content: "";
} 
.cbp-qtrotator .cbp-qtcontent img {
  width: 120px;
  border-radius: 50%;
  height: auto;
  display: inline-block;
  margin: 18px 30px;
  float: left;
}
.cbp-img {
  display: inline-block;
}

/*
 * Apps
 */

.apps-section {
  padding: 80px 20px 120px;
  background: #f7f7f7;
  text-align: left;
}

.apps-metadisk {
  background: url('../img/metadisk.png');
  background-size: 483px 427px;
  background-repeat: no-repeat;
  height: 430px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.apps-driveshare {
  background: url('../img/driveshare.png');
  background-size: 491px 504px;
  background-repeat: no-repeat;
  height: 508px;
  margin-top: -20px;
}

.apps-section .btn {
  margin-top: 35px;
}


/*
 * Press
*/

.press-section {
  padding: 60px 0;
  border-top: 1px solid #f6f6f6;
  text-align: center;
}
.press-icons {
  display: inline-block;
  cursor: pointer;
  margin: 20px 35px;
  vertical-align: middle;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
} 

  .press-coindesk {
    background: url('../img/press-coindesk.jpg') no-repeat top left;
    background-size: 180px 40px;
    width: 180px;
    height: 40px;
  } 
  .press-ltb {
    background: url('../img/press-ltb.jpg') no-repeat top left;
    background-size: 104px 76px;
    width: 104px;
    height: 76px;
  } 
  .press-cointelegraph {
    background: url('../img/press-cointelegraph.jpg') no-repeat top left;
    background-size: 150px 100px;
    width: 150px;
    height: 100px;
  } 
  .press-ccnews {
    background: url('../img/press-ccnews.jpg') no-repeat top left;
    background-size: 189px 50px;
    width: 189px;
    height: 50px;
  } 
  .press-bmag {
    background: url('../img/press-bmag.jpg') no-repeat top left;
    background-size: 180px 40px;
    width: 170px;
    height: 40px;
  } 


/*
 * Press Page
 */

.press-page-title {
  margin-bottom: 0;
}
.press-title {
  line-height: 32px;
  font-size: 18px;
}
.press-date {
  margin-top: 8px;
  font-size: 15px;
  line-height: 24px;
  color: #A8A8A8;
}
.press-source {
  display: block;
  margin-top: 8px;
}

/*
 * Contact
 */

.contact {
  padding: 100px 20px;
  background: #f7f7f7;
}

.contact .promise {
  color: #dedede;
}

.contact form {
  margin-top: 35px;
}

.contact .btn-signup {
  color: #fff;
  background: #107fc9;
  border: 0;
}
.contact .btn-signup:hover {
  background: #0D73B6;
}
.contact .btn-signup:active {
  background: #0A649E;
}
.contact .email {
  color: #107fc9 !important;
  background: none;
  box-shadow: none;
  border-color: #dedede;
  border-right: 0;
}
.contact .email:hover {
  border-color: #677380;
}
.contact .email:active, .contact .email:focus {
  border-color: #107fc9;
}

.contact .email::-webkit-input-placeholder {
   color: #999;
}
.contact .email:-moz-placeholder { /* Firefox 18- */
   color: #999;  
}
.contact .email::-moz-placeholder {  /* Firefox 19+ */
   color: #999;  
}
.contact .email:-ms-input-placeholder {  
   color: #999;  
}

.social-links {
  margin-top: 30px;
}

.social {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  opacity: 0.5;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.social:hover {
  opacity: 1;
}

.social-twitter {
  background-image: url('../img/social-twitter.png');
  background-size: 40px 40px;
}
.social-reddit {
  background-image: url('../img/social-reddit.png');
  background-size: 40px 40px;
}
.social-facebook {
  background-image: url('../img/social-facebook.png');
  background-size: 40px 40px;
}
.social-gplus {
  background-image: url('../img/social-gplus.png');
  background-size: 40px 40px;
}
.social-github {
  background-image: url('../img/social-github.png');
  background-size: 40px 40px;
}
.social-skype {
  background-image: url('../img/social-skype.png');
  background-size: 40px 40px;
}
.social-tumblr {
  background-image: url('../img/social-tumblr.png');
  background-size: 40px 40px;
}

/*
 * Footer
*/

.footer {
  padding: 50px 20px;
  background: #FFFFFF;
}

.footer-menu {
  text-align: right;
}

.footer-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #cccccc;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 20px 25px;
}

.footer-logo {
  font-size: 14px;
  text-transform: uppercase;
  color: #cbcccc;
  margin-top: 8px;
  display: block;
}

.footer-logo:hover {
  color: #999;
}

.footer-logo-icon {
  width: 42px;
  height: 47px;
  margin-right: 10px;
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.footer-logo:hover .footer-logo-icon {
  opacity: 1;
}


/*
 * Team
*/

.team p {
  text-align: center;
}
.team-member {
  width: 25%;
  text-align: center;
  padding: 30px;
  margin: 20px auto;
  display: block;
  float: left;
}
.team-member-image {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 70%;
  height: 70%;
}
.team-member-name {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #107fc9;
  height: 25px;
}
.team-member-title {
  color: #888;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
}

.get-in-touch {
  margin-top: 20px;
}


/*
 * Early Access
*/

.apps-early {
  width: 300px !important;
  height: 300px !important;
  background-size: contain !important;
  background-position: center center;
  margin: 20px auto 40px;
}

.test-group {
  padding: 0 40px;
}

.test-group .section-heading {
  background: #f7f7f7;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  color: #003366;
  font-size: 40px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.test-group-a .section-heading {
  background: #ffdd00 !important;
}
.test-group-a .subtitle {
  color: #ffdd00;
}

.exchange-logo {
  width: 180px;
  height: 180px;
  padding: 20px;
  margin: 30px 20px 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(16, 127, 201, 0.1);
}



/*
 * Retina
*/

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio: 2) {
  .apps-metadisk {
    background: url('../img/metadisk@2x.png');
    background-size: 483px 427px;
    background-repeat: no-repeat;
  }
  .apps-driveshare {
    background: url('../img/driveshare@2x.png');
    background-size: 491px 504px;
    background-repeat: no-repeat;
  } 
}

/*
 * Responsiveness
*/

@media only screen and (min-width: 990px) and (max-width: 1200px) {
  .cover-heading {
    font-size: 64px;
    margin-top: 40px;
    line-height: 54px;
  }
  .cover-subheading {
    font-size: 26px;
  }
  .cover-feature-heading {
    font-size: 16px;
  }
  .cover-feature-subheading {
    font-size: 16px;
  }
  .cover-description {
    font-size: 16px;
    max-width: 425px;
    margin-bottom: 30px;
  }
  .btn-signup {
    padding: 20px 10px;
    font-size: 15px;
  }
  .email, .contact .email {
    min-width: 150px !important;
  }
  .cover-image {
    margin-top: 30px;
  }
  .cover-features {
    margin-top: 60px;
    padding: 10px;
  }
  .cover-feature {
    padding: 16px 0 10px;
  }
  .apps-driveshare {
    background-size: contain;
  }
  .pr {
    padding-right: 20px;
  }
  .separator {
    margin: 60px 0 30px;
  }
  .input-group {
    width: 93%;
  }
  .team-member {
    padding: 30px 0;
  }
  .press-icons {
    margin: 20px 15px;
  }
}

@media only screen and (max-width: 989px) {
  .container {
    width: 90%;
  }
  .cover-features {
    padding: 20px;
  }
  .cover-feature {
    padding: 10px 0 10px 10px;
    text-align: left;
  }
  .navbar {
    margin: 0;
    margin-bottom: 20px;
  }
  .cover-wrapper-inner {
    padding-bottom: 50px;
  }
  .btn-signup {
    padding: 23px 30px;
  }
  .contact .btn-signup {
    padding: 23px 20px;
  }
  .apps-metadisk {
    margin-bottom: 20px;
    background-size: contain;
    height: 420px;
    background-position: center center;
  }
  .apps-driveshare {
    background-size: contain;
    height: 440px;
    margin-bottom: 40px;
    background-position: center center;
  }  
  .contact-newsletter {
    margin-top: 70px;
  }
  .footer-link {
    padding: 20px 15px;
  }
  .navbar-link {
    padding: 20px 5px;
    margin: 0 10px;
    font-size: 12px;
  }
  .separator {
    margin: 40px 0 20px;
  }
  .thumbs-wrapper {
    text-align:center;
  }
  .thumbs {
    margin: 25px auto;
  }
  .section {
    padding: 50px 0 70px;
  }
  .team {
    padding-top: 120px !important;
  }
  .team-member {
    width: 50%;
  }
  .cover-image {
    /* margin-top: 30px; */
  }
  .cloud {
    margin-top: 80px;
  }
  .social {
    margin-right: 0;
  }
  .promise {
    font-size: 9px;
  }
  .quotes {
    text-align: center;
  }
  .cbp-img img {
    float: none !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
  .cover-heading {
    font-size: 48px;
    line-height: 42px;
    margin-bottom: 0;
  }
  .cover-description {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
    padding-right: 10px;
  }
  .input-group {
    width: 100%;
  }
  .email {
    font-size: 14px;
    width: auto;
  }
  .btn-signup {
    padding: 23px 20px;
    font-size: 12px;
  }
  .cf-text {
    vertical-align: top;
    padding-top: 5px;
  }
  .cf-icon {
    margin-right: 10px;
    margin-top: 15px;
  }
  .cover-feature-heading {
    font-size: 14px;
  }
  .cover-feature-subheading {
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .apps-section {
    padding: 60px 20px 80px;
  }
  .div-sm {
    padding: 10px;
  }
  .div-lg {
    padding: 30px;
  }
  .title {
    margin-bottom: 25px;
    margin-top: 20px;
    font-size: 36px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
  .pr {
    padding-right: 0;
  }
  .apps-metadisk {
    background-size: contain;
  }
  .apps-driveshare {
    background-size: contain;
    height: 420px;
  }
  .apps-section .btn {
    margin-top: 10px;
    font-size: 13px;
  }
  .press-section {
    padding: 50px 0;
  }
  .contact {
    padding: 70px 20px;
  }
  .contact-newsletter {
    margin-top: 0;
  }
  .contact .btn-signup {
    padding: 23px 10px;
    font-size: 12px;
  }
  .footer {
    padding: 50px 20px;
  }
  .video {
    margin-top: 35px;
  }
}


@media only screen and (max-width: 768px) {
  .navbar {
    text-align: center;
  }
  .navbar-menu {
    text-align: center;
    margin-top: 20px;
    padding: 0;
  }
  .section {
    padding: 40px 0 60px;
  }
  .cover-heading {
    font-size: 72px;
    line-height: 68px;
    text-align: center;
    margin-top: 10px;
  }
  .cover-description {
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    margin: 20px auto 35px;
  }
  .cover-subheading {
    font-size: 26px;
    line-height: 34px;
  }
  .cover-feature-heading {
    font-size: 16px;
  }
  .cover-feature-subheading {
    font-size: 16px;
    text-align: center;
  }
  .cover-feature {
    padding: 5px 0 0;
    text-align: center;
  }
  .cf-icon {
    margin: 15px 15px 5px 0;
    display: block;
    margin: 20px auto;
  }
  .input-group {
    width: 85%;
    margin: 0 auto;
  }
  .promise {
    text-align: center;
  }
  .title {
    font-size: 42px;
    margin-bottom: 20px;
    margin-top: 10px;
    letter-spacing: -1px;
  }
  .apps-section .btn {
    margin-top: 20px;
  }
  .cloud {
    margin: 0 auto;
    padding: 30px;
    padding-right: 40px;
  }
  .cover-features {
     margin-top: 0;
  }
  .div-lg {
    padding: 30px;
  }
  .footer-menu {
    text-align: center;
    margin-top: 30px;
  }
  .footer-logo {
    text-align: center;
  }
  p {
    padding: 5px 10px 5px 0;
    font-size: 14px;
    margin-top: 10px;
    line-height: 22px;
    text-align: justify;
  }
  .pr {
    margin-left: auto;
    margin-right: auto;
  }
  .apps-section {
    padding: 70px 10px;
    text-align: center;
  }
  .contact {
    padding: 50px 10px;
  }
  .contact p {
    text-align: center;
  }
  .div-sm {
    padding: 15px;
  }
  .footer {
    padding: 50px 25px;
  }
  .video {
    margin-top: 35px;
  }
  .team {
    padding-top: 210px !important;
  }
  .team-member {
    padding: 30px 8px;
  }
  .contact {
    text-align: center;
  }
  .test-group {
    padding: 40px;
  }
  .separator {
    margin: 20px 0;
  }
  .early-apps {
    padding: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .section {
    padding: 20px 20px 40px;
  }
  .cover-container {
    margin: 40px auto 0;
  }
  .cover-wrapper-inner {
    text-align: center;
  }
  #crowdsale .cover-wrapper-inner {
    background: none;
  }
  .cover-logo {
    width: 100%;
  }
  .cover-heading {
    font-size: 42px;
    margin-bottom: 0;
    margin-top: 5px;
    line-height: 46px;
    letter-spacing: -1px;
  }
  .cover-subheading {
    font-size: 21px;
    line-height: 26px;
  }
  .section-subheading {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 0;
  }
  .cover-description {
    font-size: 15px;
  }
  .features {
    padding: 50px 0;
  }
  .cover-feature {
    padding: 5px 0 5px;
  }
  .cover-feature-heading {
    font-size: 12px;
  }
  .cover-feature-subheading {
    font-size: 12px;
  }
  .email {
    font-size: 12px;
    height: 61px;
  }
  .btn-signup {
    font-size: 12px;
    height: 61px;
    padding: 10px;
  }
 .input-group {
    width: 100%;
  } 
  .promise {
    font-size: 10px;
  }
  .press-icons {
    display: block;
    margin: 25px auto;
  }
  .cf-text {
    vertical-align: top;
    padding-top: 5px;
  }
  .title {
    font-size: 32px;
    line-height: 36px;
    margin-top: 20px;
  }
  .description {
    font-size: 14px;
    margin-top: 10px;
    line-height: 28px;
  }
  .pr {
    padding-right: 10px;
  }
  .apps-section {
    padding: 40px 10px 60px;
  }
  .apps-section .btn {
    margin-top: 5px;
    width: 100%;
    font-size: 14px;
    padding: 20px 0;
  }
  .apps-metadisk {
    background-size: contain;
    height: 300px;
  }
  .apps-driveshare {
    background-size: contain;
    height: 300px;
  }
  .div-sm {
    padding: 10px;
  }
  .div-lg {
    padding: 20px;
  }
  .press-section {
    padding: 30px 0;
  }
  .contact {
    padding: 50px 10px;
  }
  .contact .btn-signup {
    padding: 22px 15px;
  }
  .footer {
    padding: 40px 20px;
  }
  .footer-logo {
    text-align: center;
  }
  .footer-link {
    display: block;
  }
  .crowdsale-address { 
    font-size: 16px;
  }
  .btn-blue {
    font-size: 14px;
    padding: 20px 25px;
  }
  .stats-transactions {
    padding: 20px 25px;
  }
  .video {
    margin-bottom: 30px;
  }
  .team-member {
    width: 100%;
  }
}